* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%) no-repeat;
  font-family: sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 2.6rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 20px 0;
}
